* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  list-style-type: none;
}

h2 {
  font-size: 24px;
  padding: 6px 12px;
}

h2::after {
  display: block;
  content: '';
  border-bottom: 8px wheat solid;
  margin-top: 6px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 12px;
}

body {
  font-family: sans-serif;
}

li {
  line-height: 1.8;
}












/* movie slider */
movie-slider {
  display: block;
  background-color: black;
  padding: 24px 12px;
}

#movieSliderCarousel {
  padding: 24px;
  width: 90%;
  background-color: #2E2B2B;
  margin: 0 auto;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: black;
  border-radius: 4px;
}

.carousel-caption {
  margin: 0 auto;
  width: 70%;
  padding: 16px;
  background-color: #2E2B2B;
  font-size: 18px;
}

.carousel-caption h3:hover {
  cursor: pointer;
  color: red;

}

/* end of movie slider */






/* movie slider item */
.carousel-item img {
  height: 600px;
  margin: 0 auto;
}


/* end of movie slider item */









/* tabs section */
#movieTab .nav-item button {
  color: white;
}


#movieTab .nav-item .active {
  background-color: black;
  color: white;
}

/* end of tabs section */






/* movie list */
.section-container {
  background-color: rgb(46, 43, 43);
  display: block;
  padding-top: 18px;
  padding-bottom: 4px;
}

.movie-section {
  display: block;
  margin: 0 auto;
  max-width: 95%;
}

discover-list, favorite-list, found-list {
  min-height: 100vh;
  border-top: 8px wheat solid;
  margin: 0 auto;
  margin-bottom: 24px;
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  grid-template-rows: minmax(min-content, max-content);
  gap: 8px;
  position: relative;
}

.no-found__notice {
  position: absolute;
  top: 5%;
}



/* end of movie list */







/* movie item */

movie-item {
  margin-bottom: 14px;
  margin-top: 4px;
  cursor: pointer;
  min-height: 320px;
}

.selected-movie {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 3px;
  height: 100%;
}

.selected-movie:hover {
  filter: brightness(80%);
}

.selected-movie .hd-logo, .selected-movie .rating-star-item {
  position: absolute;
  padding: 0px 2px;
  border-radius: 6px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.selected-movie .hd-logo {
  right: 6px;
  top: 6px;
  border: 2px white solid;
}

.selected-movie .rating-star-item {
  left: 6px;
  top: 6px;
  background-color: black;
}

.selected-movie img {
  width: 100%;
  border-radius: 10px;
  height: 80%;
}



.selected-movie .movie-item__movie-title {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  padding: 0 8px;  
  display: inline-block;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.selected-movie .movie-item__movie-title:hover {
  color: red;
}

.selected-movie .year_duration_type {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 3px;
}

.movie-item__year-dur-genre {
  padding: 0px 4px;
}

#genre-movie {
  border: 2px rgb(1, 94, 5) solid;
  border-radius: 4px;
  padding-bottom: 2px;
  margin: auto 0;
}

/* end of movie item */




/* movie search by query */
query-input p {
  display: block;
  text-align: center;
}


.movie-search-query {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 12px;
  justify-content: center;
}

#searchbyquery {
  background-color: transparent;
  border: 1px white solid;
  border-radius: 18px;
  color: white;
  padding: 4px 12px;
  margin: 0 8px;
  width: 40%;
}

#searchquery-button {
  background-color: black;
  font-weight: 500;
  padding: 12px;
  border-radius: 12px;
}

#searchquery-button:hover {
  background-color: red;
  border: 2px red solid;
}

#deletequery-button {
  position: absolute;
  right: 33%;
  top: 23%;
  background-color: transparent;
  border: 2px transparent solid;
  font-size: 24px;
}


#deletequery-button i:hover {
  color: red;
}
/* end of movie search by query */




/* sort by dropdown */
sort-by{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

#sort-discover_movie {
  display: flex;
  flex-direction: row;
  margin: 8px 0;
}

#sort-discover_movie select {
  margin-right: 18px;
}

.select-sort{
  margin: 0 8px;
  margin-bottom: 6px;
  padding: 0 6px;
  background-color: transparent;
  cursor: pointer;
}

#sort-discover_movie option {
  background-color: #2E2B2B;
}

#language-search_wrapper{
  position: relative;
}

#lang_search-discovery {
  position: absolute;
  right: 5%;
  top: 20%;
  font-size: 18px;
}

#lang_search-discovery:hover {
  color: red;
}

#select-country_input {
  border: 1px white solid;
  background-color: transparent;
  padding: 0 6px;
}

#reset-button__wrapper {
  justify-content: flex-end;
}

#reset_button-discover{
  padding: 0px 6px;
  background-color: black;
  border: 1px white solid;
  cursor: pointer;
}

#reset_button-discover:hover {
  background-color: red;
}


/* end of sort by dropdown */





/* pagination movies */
pagination-discover, favorite-pagination, pagination-founds {
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.display-current_page-movies  {
  padding-left: 12px;
  padding-bottom: 24px;
  font-size: 20px;
}

#current_page-founds, #current_page-movies, #current_page-favorite {
  font-weight: 600;

}

.movie-pagination {
  display: flex;
  flex-direction: row;
}

.movie-pagination button {
  color: white;
  background-color: black;
  padding: 4px 12px;
  margin: 0 8px;
  border-radius: 8px;
  font-size: 20px;
}

.movie-pagination button:hover {
  background-color: red;
  border: 2px red solid;
  
}

#display_input-page, #display_input-movies, #display_input-favorite  {
  padding: 8px;
  border: 1px white solid;
  text-align: center;
  border-radius: 6px;
  background-color: transparent;
  max-width: 70px;
}

/* end of pagination movies */







/* movie preview section */
movie-preview {
  display: block;
  width: 100%;
  padding: 16px 0px;
  background-color: #2E2B2B;
  position: relative;
}

movie-preview .btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 32px;
  backdrop-filter: blur(30px);
  background-color: white;
  border: 2px black solid;
}

.movie-details {
  padding: 36px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover ;
  min-height: 90vh;
  display: flex;
  align-items: flex-end;
  position: relative;
  
}

.details-wrapper {
  max-width: 50%;
  padding: 12px;
  
}

.details-wrapper ul{
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.47);
  backdrop-filter: blur(10px);
  border-radius: 10px;
}

.details-wrapper li span{
  padding: 4px 8px;
  margin-left: 2px;
  text-align: center;
}

.details-wrapper h1 {
  font-size: 42px;
  font-weight: 700;
}

.vote-stars-hd {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.star-outer{
  position: relative;
  font-family: "FontAwesome";
  margin: 4px;
}

.star-outer::before{
  content: "\f006 \f006 \f006 \f006 \f006";
  
}

.star-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 30%;
  font-family: "FontAwesome";
}

.star-inner::before {
  content: " \f005 \f005 \f005 \f005 \f005";
}

.vote-stars-hd .hd-logo{
  background-color: black;
  border-radius: 4px;
  
}

.vote-stars-hd .hd-logo p {
  margin: auto 4px;
  font-weight: 500;
}

.details-wrapper .preview_description p {
  font-size: 18px;
}

.click_movie {
  display: flex;
  flex-direction: row;
  font-size: 32px;
  padding: 0 12px;
  
}

.click_movie i{
  margin: 8px 4px;
  border-radius: 8px;
  cursor: pointer;
  background-color: black;
  padding: 14px ;
  
}

.details-wrapper .click_movie i:hover{
  color: red;
}

.release-duration-preview {
  display: flex;
  flex-direction: row;
}

#language-preview, #released-preview, #duration-preview {
  padding: 1px 6px;
  margin-top: 12px;
  margin-right: 12px;
  border: 2px white solid;
  border-radius: 10px;

}

/* end of movie preview */







/* crews-preview */
movie-crews {
  background-color: #2E2B2B;
  display: block;
  padding-top: 18px;

}

.movie-crews {
  display: flex;
  flex-direction: row;
  overflow:auto;
  gap: 12px;
  padding: 0px 12px;
  padding-bottom: 12px;

}


/* end of crews-preview */







/* crew-item element*/
crew-item {
  max-height: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

crew-item .actor-pictures img {
  height: 250px;
  max-width: 170px;
  border-radius: 6px;
}

.real-name-actor, .character-name {
  padding: 0 6px;
  margin-top: 4px;
}

.real-name-actor {
  font-weight: 500;
  cursor: pointer;
}

.real-name-actor:hover {
  color: red;
}

.real-name-actor, .character-name{
  max-width: 180px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

/* end of crew-item element */






/* related movies */
related-movie {
  padding: 18px 0;
  background-color: #2E2B2B;
  display: block;
}

.related-movies {
  padding: 0 24px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  grid-template-rows: minmax(min-content, max-content);
  gap: 8px;
  
}
/* end of related movies */










/* modal crew details */
.modal-body {
  background-color: #2E2B2B;
  display: flex;
  flex-direction: column;
}

#actor_image-modal {
  max-width: 20%;
  margin: 10px auto;
  border-radius: 5px;
}

.actor_details-modals {
  color: white;
  text-align: center;
  margin-top: 8px;
}

#popularity_actor-modal {
  font-weight: 700;
  font-size: 18px;
  width: 70px;
  height: 70px;
  line-height: 60px;
  border-radius: 50%;
  border: solid 3px white;
  background-color: white;
  color: #2E2B2B;
  text-align: center;
  margin: 12px auto;
}

#popularity_actor-modal p{
  font-size: 1px;
}

.recent-movie_container {
  margin-top: 12px;
}

#recent-movies_modal {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-template-rows: minmax(min-content, max-content);
  gap: 14px;
  padding: 8px 24px;

}


.drop-down-movie {
  font-size: 32px;
  text-align: center;
  margin: 8px 0px;
  cursor: pointer;
  padding-bottom: 12px;
}

.drop-down-movie i:hover {
  color: red;
}


/* end of modal crew details */








/* footer */
.line-separator {
  background-color: wheat;
  padding: 12px;
}

.footer-section {
  background-color: #212529;
  padding: 36px 8px;
  text-align: center;
 
}

#copyright-site {
  font-weight: 500;
}

/* end of footer */




@media only screen and (max-width: 1300px) {
  movie-list, top-list {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 950px) {
  movie-list, top-list {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 765px) {
  movie-list, top-list {
    grid-template-columns: repeat(4, minmax(0, 1fr));
        
  }

}

@media only screen and (max-width: 610px) {
  movie-list, top-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
        
  }
}

@media only screen and (max-width: 455px) {
  movie-list, top-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
        
  }
}

@media only screen and (max-width: 305px) {
  movie-list, top-list {
    grid-template-columns: repeat(1, minmax(0, 1fr));
        
  }
}

